*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;

}
body,
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  line-height: 1.5rem;
}

h1 {
  font-size: 200%;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 15px;
}

h1:after {
  display: block;
  height: 5px;
  background-color: #cdcdcd;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 2px;
}

h4{
  font-size: 130%;
}
h5{
  font-size: 110%;
}

img{
  max-width: 100%;
}

.container{
  margin:20px auto;
}

.sekcja{
  margin:5px 0;
  }

.row__container{
margin:15px 0;
}

.cv-photo{
  width: 100%;
  height: auto;
}

.left__side{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.right__site{
  display: flex;
  flex-direction: column;
}

div .col-12 b{
  width:100%;
}

.kontakt{
  /* background-color: #f0f0f0; */
  border-top: 5px solid #cdcdcd ;
  /* height: 100%; */
  padding: 10px;
}

span{
  display: block;
  color:#858799;
  padding: 10px 0px;
}

.skills{
  margin-top: 15px;
  display: flex;
  justify-content:space-around;
}

figcaption{
  text-align: center;
  font-size: 14px;
}

.logo{
  margin: 15px;
  width: 100%;
}
